$sc:50;
*{margin: 0;padding: 0;list-style: none}
.ys{ width: 100%;height: 80/$sc+rem;text-align: center;line-height: 80/$sc;border-bottom: 1px solid #546670;background: #f4f3f4;opacity: 0.8}
html{
  width: 100%;height: 100%;
  body{
    position: relative;
    padding-bottom:50px;
    box-sizing: border-box;
    background: #f4f3f4;
    @extend html;
    header{width: 750/$sc+rem;height: 150/$sc+rem;background: lightblue;position: fixed;top: 0;z-index: 99999;
      .header_box{width: 100%;height: 100%;position: relative;
        div:nth-of-type(1){ background: red;width:50/$sc+rem;height: 50/$sc+rem;position: absolute;top: 50/$sc+rem;left: 40/$sc+rem }
        div:nth-of-type(2){font-family:'hdjxingshudced8300c1aaa5';line-height: 150/$sc+rem;text-align: center;
          font-size: 44/$sc+rem;width: 460/$sc+rem;height: 150/$sc+rem;position: absolute;left: 110/$sc+rem}
        div:nth-of-type(3){width: 80/$sc+rem;height: 80/$sc+rem;background: rebeccapurple;position: absolute;top: 35/$sc+rem;left: 610/$sc+rem;
          ul{position: relative;
            li{display: inline-block;width: 40/$sc+rem;height: 40/$sc+rem;position: absolute;border-radius: 50%;display: none}
            li:nth-of-type(1){top: 20/$sc+rem;left: -30/$sc+rem;background: rosybrown}
            li:nth-of-type(2){top: 20/$sc+rem;left: 20/$sc+rem;background: yellow}
            li:nth-of-type(3){top: 20/$sc+rem;left: 70/$sc+rem;background: blue}
          }

        }
      }

      #header_cbl{border-radius: 10%;
          width: 200/$sc+rem;height: 500/$sc+rem;position: fixed;top: -1000/$sc+rem;left: 2/$sc+rem;transition: top 2s;
        #header_cbl_ul{
          width: 200/$sc+rem;height:100/$sc+rem ;border-right: 1px solid #546674;
          .swiper-slide{color:#546674;
            width: 200/$sc+rem;height: 100/$sc+rem;margin: 0;
         font-size: 40/$sc+rem;text-align: center;line-height: 180/$sc+rem;
          }

        }

      }
      .cbl_childer{
        width: 300/$sc+rem;height: 800/$sc+rem;position: fixed;top: 450/$sc+rem;left: 220/$sc+rem;
          .us1{@extend html;display: none;
            li{@extend .ys;} }
        .us2{@extend html;display: none;
          li{@extend .ys;} }
        .us3{@extend html;display: none;
          li{@extend .ys;} }
        .us4{@extend html;display: none;
          li{@extend .ys;} }
        .us5{@extend html;display: none;
          li{@extend .ys;} }
        .us6{@extend html;display: none;
          li{@extend .ys;} }
        .us7{@extend html;display: none;
          li{@extend .ys;} }
      }
    }

    section{
    width: 750/$sc+rem;height: 100%;position: absolute;top:150/$sc+rem;

    }


  }
}