$sc:50;
*{margin: 0;padding: 0;list-style: none}
html{
  width: 100%;height: 100%;
  body{
    position: relative;
    padding-bottom:50px;
    box-sizing: border-box;
    background: #f4f4f4;
    @extend html;
    header{width: 750/$sc+rem;height: 150/$sc+rem;background: lightblue;position: fixed;top: 0;z-index: 99999;
      .header_box{width: 100%;height: 100%;position: relative;
        div:nth-of-type(1){ background: red;width:50/$sc+rem;height: 50/$sc+rem;position: absolute;top: 50/$sc+rem;left: 40/$sc+rem }
        div:nth-of-type(2){font-family:'hdjxingshudced8300c1aaa5';line-height: 150/$sc+rem;text-align: center;
          font-size: 44/$sc+rem;width: 460/$sc+rem;height: 150/$sc+rem;position: absolute;left: 110/$sc+rem}
        div:nth-of-type(3){width: 80/$sc+rem;height: 80/$sc+rem;background: rebeccapurple;position: absolute;top: 35/$sc+rem;left: 610/$sc+rem;
          ul{position: relative;
            li{display: inline-block;width: 40/$sc+rem;height: 40/$sc+rem;position: absolute;border-radius: 50%;display: none}
            li:nth-of-type(1){top: 20/$sc+rem;left: -30/$sc+rem;background: rosybrown}
            li:nth-of-type(2){top: 20/$sc+rem;left: 20/$sc+rem;background: yellow}
            li:nth-of-type(3){top: 20/$sc+rem;left: 70/$sc+rem;background: blue}
          }

        }
      }

      #header_cbl{
          width: 200/$sc+rem;height: 600/$sc+rem;position: fixed;top: 300/$sc+rem;left: 2/$sc+rem;
        #header_cbl_ul{
          width: 200/$sc+rem;height:100/$sc+rem ;
          .swiper-slide{
            width: 200/$sc+rem;height: 100/$sc+rem;margin: 0;
          border: 1px solid white;font-size: 50/$sc+rem;text-align: center;line-height: 200/$sc+rem;
          }

        }

      }

    }

    section{
    width: 750/$sc+rem;height: 100%;position: absolute;top:150/$sc+rem;

    }


  }
}